{% macro navbar (name) %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
  <div class="container-fluid">
    <div class="navbar-brand">Hola {{ name }}</div>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex">
        <a href="/logout" class="btn btn-light text-primary" type="submit">Salir</a>
    </div>
  </div>
</nav>
{% endmacro %}